@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap");
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* navbar */
.navigation {
  width: 100vw;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EDDDD4;
  z-index: 10;
  /* logo */
}

.navigation .burger {
  cursor: pointer;
  display: none;
}

.navigation .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .logo {
  background-color: white;
  border-radius: 110px;
  height: 100pt;
  width: 106pt;
  position: relative;
  top: 5%;
  margin-left: 50%;
  border: 1px black solid;
  -webkit-box-shadow: black 2px 3px;
          box-shadow: black 2px 3px;
  cursor: pointer;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.navigation img {
  height: 38pt;
  width: 76pt;
  border-radius: 100px;
  position: relative;
  top: 6%;
  left: 13%;
}

.navigation .logo h2, .navigation .logo .subtext {
  text-align: center;
}

.navigation .nav .logo h2 {
  font-family: "Eb Garamond";
  font-size: 34px;
}

.navigation .logo .subtext {
  position: absolute;
  left: 8%;
  bottom: 18%;
  padding: 0 6pt;
  font-style: italic;
  font-size: 18px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.navigation .open-m {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation .nav-list {
  min-width: 500px;
  background: #EDDDD4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  list-style: none;
  padding: 30pt 5pt;
}

.navigation .nav-list .search {
  position: relative;
  height: 50px;
  display: block;
  margin-right: 16px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.navigation .nav-list .search .input {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.navigation .nav-list .btn {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation .nav-list .btn:focus, .navigation .nav-list .input:focus {
  outline: none;
}

.navigation .nav-list .search.active .input {
  width: 200px;
}

.navigation .nav-list .search.active .btn {
  -webkit-transform: translateX(180px);
          transform: translateX(180px);
}

.navigation .nav-list a {
  font-family: 'news cycle';
  letter-spacing: 2px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navigation .nav-list a:hover {
  color: #585858;
}

.bg-showcase {
  height: 100vh;
  background: url(img/montana-bg1.jpeg) no-repeat center center/cover;
  background-attachment: fixed;
  -webkit-transform: translateY(76px);
          transform: translateY(76px);
  background-blend-mode: overlay;
}

@media (min-width: 900px) {
  .row1 {
    background: #e8eae2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bg-showcase {
    height: 55vh;
    background-position: top;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@media (min-width: 1439px) {
  .bg-showcase {
    background-size: 100% 110%;
  }
  .navigation .logo h2 {
    font-size: 32px;
  }
}

.showcase {
  background: #e8eae2;
  background-size: 100% 100%;
  height: 1000px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showcase .showcase-title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: 'news cycle';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0px;
  -webkit-transform: translate(0px, 84px);
          transform: translate(0px, 84px);
}

@media (max-width: 900px) {
  .showcase .showcase-title {
    -webkit-transform: translate(0px, 169px);
            transform: translate(0px, 169px);
    font-size: 36px;
  }
}

.showcase .slideshow {
  width: 43%;
  height: 701px;
  position: relative;
  margin: auto;
  z-index: 2;
  border: 5px #4b4a4a solid;
}

@media (max-width: 900px) {
  .showcase .slideshow {
    height: 68vh;
    width: 100%;
  }
  .showcase .slides {
    background-size: 100%;
  }
  .showcase article {
    -webkit-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
  }
}

@media (max-width: 769px) {
  .showcase .slideshow {
    height: 68vh;
    width: 58%;
  }
}

.showcase .slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.showcase .slides article {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  width: 60%;
  color: whitesmoke;
  position: absolute;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.showcase .slide1 {
  background: url(/img/bookcover1.jpg) no-repeat center center/contain;
}

.showcase .slide2 {
  background: url(/img/bookcover2.jpg) no-repeat center/contain;
}

.showcase .slide3 {
  background: url(/img/bookcover3.jpg) no-repeat center center/contain;
}

.mid-section {
  background: #e8eae2;
}

.mid-section .updates h2 {
  font-family: 'news cycle';
  letter-spacing: 2px;
  text-decoration: underline;
  margin-top: 30px;
}

.mid-section .updates .update {
  margin-top: 15pt;
}

.mid-section .updates .update .message {
  border-bottom: 1px black solid;
}

.mid-section .updates .update .date {
  font-weight: bold;
  letter-spacing: 2px;
}

.mid-section .events-container {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid-section .events-container h2 {
  font-family: 'news cycle';
  letter-spacing: 2px;
  text-decoration: underline;
}

.mid-section .events-container ul, .mid-section .events-container h2 {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.mid-section .events-container .google-calendar {
  height: 40vh;
  width: 80%;
  margin-left: 0pt;
  border-radius: 5pt;
}

.lower-third .recom {
  background: #283D3B;
  padding-top: 24px;
}

.lower-third .recom h2 {
  text-align: center;
  font-family: 'news cycle';
  text-transform: uppercase;
  color: #EDDDD4;
}

.lower-third .recom .pic-container {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lower-third .recom .pic-container img {
  height: 150%;
  padding-top: 20px;
  cursor: pointer;
}

.lower-third .donate {
  background-color: #e8eae2;
  border-top: 3px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.lower-third .donate .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15pt;
  z-index: 4;
}

.lower-third .donate .header .heart-icon {
  font-size: 60pt;
  color: red;
  -webkit-text-stroke: 4px black;
  position: relative;
  top: 10%;
}

.lower-third .donate .header .bio-subtext {
  font-size: 65px;
  text-align: center;
  color: red;
  font-family: 'dancing script';
  line-height: 65px;
}

.lower-third .donate p, .lower-third .donate span {
  margin: -2pt 206pt;
  padding: 0pt 0pt;
  text-align: center;
}

.footer {
  background: #283D3B;
  border-top: 4px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 4px;
}

.footer .footer-container .child {
  min-width: 30%;
  height: 100pt;
  font-size: 10pt;
  line-height: 15px;
  color: #EDDDD4;
  position: relative;
  top: 50px;
}

.footer .footer-container .child .footer-icon {
  color: #EDDDD4;
}

.footer .child:nth-child(2) {
  position: relative;
  top: 0;
}

.footer .socials i {
  cursor: pointer;
  color: #EDDDD4;
  font-size: 40px;
  margin: 5pt;
}

.education {
  background: #e8eae2;
}

.education p {
  width: 50%;
}

.education .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 156px;
  margin-top: 0px;
}

.education .title h2 {
  font-family: 'news cycle';
  letter-spacing: 2px;
  font-size: 55px;
  text-decoration: underline;
}

.education .oer {
  margin-top: 18px;
  border-bottom: 2px black solid;
}

.education .education-mid {
  padding-top: 18px;
  background: #e8eae2;
}

.education .education-mid img {
  height: 150px;
  width: 180px;
  cursor: pointer;
}

.education .education-mid img:hover {
  opacity: 0.4;
}

.education .education-mid .science-flix, .education .education-mid .go {
  margin: 10px;
}

.education .education-mid .science-flix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.education .education-mid .science-flix h4, .education .education-mid .science-flix p {
  margin-left: 10px;
}

.education .education-mid .go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.education .education-mid .go h4, .education .education-mid .go p {
  margin-left: 10px;
}

.research {
  background: #e8eae2;
}

.research .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 240px;
  margin-top: 0px;
}

.research .title h2 {
  font-family: 'news cycle';
  letter-spacing: 3px;
  font-size: 50px;
  text-decoration: underline;
}

.research a {
  text-decoration: none;
}

.research .banner {
  text-align: center;
  margin-left: 188px;
  padding: 10pt;
  width: 80%;
  background: rgba(240, 0, 0, 0.7);
  font-size: 11pt;
  color: white;
  font-weight: bold;
  border-radius: 5pt;
}

.research .banner:hover {
  background: #f00000;
  color: #ff15ff;
}

.research .landing {
  margin-top: 100px;
  padding-right: 250px;
}

.research .landing ul {
  list-style: none;
  padding-top: 20px;
}

.research .landing ul li {
  margin: 30px;
}

.directory {
  background: #e8eae2;
}

.directory .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 240px;
  margin-top: 0px;
}

.directory .title h2 {
  font-family: 'news cycle';
  letter-spacing: 3px;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
}

.row.landing {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.landing .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.row.landing .profile img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.row.landing .lists {
  padding-top: 25px;
}
/*# sourceMappingURL=style.css.map */